<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="card mt-4 text-center">
            <div class="card-header">
                <h1>
                    {{page_title}}
                </h1>
                <p>
                    edit works!
                </p>
                <!--<p *ngIf="status != 'success'">Update your personal data</p>-->
            </div>
            <div class="card-body">
	            <div class="alert alert-success" *ngIf="status == 'success'">
		          {{message}}
		        </div>

		        <div class="alert alert-danger" *ngIf="status == 'error'">
		          {{message}}
		        </div>
                <form #categoryForm="ngForm" (ngSubmit)="onSubmit(categoryForm)">
                    <div class="form-group">
                        <!--<label for="name">Name</label>-->
                        <input #name="ngModel" [(ngModel)]="category.name" class="form-control" name="name" pattern="[a-zA-Z ]+" placeholder="Category name" required="" type="text">
                        <div *ngIf="!name.valid && name.touched" class="mt-1 alert alert-danger text-left" role="alert">
                            Category is not valid
                        </div>
                    </div>
                    <button class="btn btn-success" [disabled]="categoryForm.invalid">Send</button>
                </form>
            </div>
        </div>
    </div>
</div>
